* { margin: 0; padding: 0; box-sizing: border-box; }
html, body{ 
    height: 100%; 
}
body { 
    padding: 20px; font-family: system-ui, sans-serif; 
}

@mixin dialogBox($backgroundColor, $width){
    position: relative;
    width: $width;
    padding: 10px;
    background: $backgroundColor;
    border: 1px solid #000;
    margin: 40px auto;

    &::after {
        content: "";
        position:absolute;
        top: 0;
        left: 50%;
        width: 10px;
        height: 10px;
        background: $backgroundColor;
        border: 1px solid #000;
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

.dialog{
    @include dialogBox(#3c8c2b, 90%);
    color: #0c2b0b;

    .dialog-title{
        font-size: 3rem;
        font-weight: 800;
        margin-bottom: 14px;
    }

    .dialog-title{
        font-size: 1.6rem;
        line-height: 1.4;
    }
}
