* {margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
    --gold: #FFDA69;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Indie Flower', cursive;
    font-weight: 400;
}

.centered-text{
    background-color: var(--gold);
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
p{
    width: 100%;
    font-size: 3rem;
    text-align: center;
}
}




