* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

html, body { 
    height: 100%; 
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.movie {
  width: 100vw;
  max-width: 1024px;
  padding: 0 0;
}


.movie__ratio {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.movie iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
}